extends layout

block content
  .container.my-3
    h2 付款失敗
    .alert.alert-danger 付款失敗
    table.table
      tr
        th(width="200") 訂單編號
        td 1234567
      tr
        th(width="200") 訂單建立時間
        td 2018/1/18
      tr
        th 訂購產品 
        td xxxx
      tr
        th 總金額
        td
          | NT$ 1000

