extends layout

block content
  .container.my-3
    h2 完成訂單
    .alert.alert-success 訂單完成
    table.table
      tr
        th(width="200") 訂單編號
        td 1234567
      tr
        th(width="200") 訂單建立時間
        td 2018/1/18
      tr
        th 訂購產品 
        td xxxx
      tr
        th 總金額
        td
          | NT$ 1000
      tr
        th 信箱
        td
          | xxxx@gmail.com

